/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */


@keyframes ping-pong {
    from
    {
        transform: translateX(0);
    }
    to
    {
        transform: translateY(10px);
    }
}
.btn-primary {
    padding: 13px 16px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border: none;
    line-height: 1.2rem;
    cursor: pointer;
    
}

.btn-secondary {
    padding: 13px 16px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #00FF88;
    line-height: 1.2rem;
    cursor: pointer;
}

/* Background color */

.primary-bg {
    background-color: #1A0B2E;
}

.secondary-bg {
    background-color: #230E3D;
}

/* nav bar section */

nav {
    max-width: 1270px;
    margin: 0 auto;
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    margin-top: 24px;
    font-size: 2rem;
    cursor: pointer;
}

.gradient {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hidden {
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    margin-top: 24px;
    align-items: center;
}

nav ul a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 120%;
}

nav button {
    margin-top: 24px;
}

/* banner */
.banner {
    display: grid;
    justify-items: center;
    margin-top: 24px;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 760px;
}

.banner-image {
    width: 400px;
    height: 400px;
    background-image: url('../assets/hero-circle.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
    top: 10%;
}

.banner-image img {

    display: grid;
    align-content: center;
    position: relative;
    width: 30%;
    /* right: 5%; */
}

.tooltip {
    background-color: #00FF88;
    padding: 8px 8px;
    border-radius: 15px;
    position: absolute;
    top: 35px;
    right: 30px;
    color: #1A0B2E;
    cursor: pointer;
    animation: ping-pong 2s infinite alternate;
    
}
/* .tooltip:hover
{
    transform: scale(1.5) rotate(360deg) translateX(-20px);
} */

.banner-content {
    text-align: center;
    color: #FFFFFF;
}

.banner-content h2 {
    font-size: 3.75rem;
    font-weight: bolder;
}

.banner-description {
    color: #ffffff88;
}

.banner-content button {
    margin-top: 24px;
    display: inline-flex;
    gap: 2px;
}

/* about section */

.about-section {
    max-width: 1270px;
    margin: 0 auto;
}

.about-content {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 80px;
}

.about-content h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;

}

.about-content p {
    font-size: 16px;
    color: #ffffff88;
    line-height: 1.25rem;

}

.about-paragraph {
    margin-top: 25px;

}

hr {
    color: #ffffff88;
}

.about-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
    text-align: center;
}

.about-card h4 {
    font-size: 3rem;
    color: #00FF88;
    margin-bottom: 5px;
}

.about-card p {
    font-size: 1rem;
    line-height: 1.25rem;
    color: #ffffff88;

}

/* tech wave  */


.wave-section {
    max-width: 1270px;
    margin: 0 auto;
    padding: 100px 120px;
}

.wave-section-title {
    text-align: center;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.wave-section-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;

}

.wave-section-card {
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;

}

.wave-section-card img {
    width: 30px;
    margin-bottom: 16px;
}

.wave-section-card h4 {
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.wave-section-card p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff88;
}

.item-1 {
    grid-row: span 2;
}

.item-2,
.item-3,
.item-4 {
    grid-column: span 2;
}

/* feature-section */
.feature-section {
    max-width: 1270px;
    margin: 0 auto;
    padding-top: 120px;
}

.feature-tittle {
    text-align: center;
    color: #FFFFFF;
    font-size: 2rem;
    margin-bottom: 40px;
}

.feature-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.feature-card {

    border-radius: 10px;
    background-color: #250D44;
    max-width: 380px;
}

iframe {
    border-radius: 10px 10px 0px 0px;

}

.feature-card h5 {
    font-size: 1.2rem;
    padding: 15px 15px 5px;
    color: #FFFFFF;
}

.feature-card p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 15px;
    color: #ffffff88;
    text-align: left;
}

.feature-image {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 5px 15px;
    color: #00FF88;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.feature-image img {
    margin-right: 2px;
}

.time-align {
    margin-top: 20px;
}

/* host section */

.host-section {
    max-width: 1270px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.host-section-tittle {
    text-align: center;
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.host-card-container {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 20px;
}

.host-card-description h4 {
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.host-card-description p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff88;
    margin-bottom: 16px;
}

.host-card-image {
    display: inline-flex;
    gap: 8px;
}


.host-card-image img {
    width: 30px;
    padding: 8px;
    border: 1px solid #533C72;
    border-radius: 40%;

}

/* footer section */
footer {
    background-image: url('../assets/footer-bg.png');
    background-position: center;
    height: 412px;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-section {
    max-width: 1270px;
    margin: 0 auto;
    text-align: center;
    padding: 120px;
}

.footer-section-tittle {
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.social-media-image {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-bottom: 12px;
    font-size: 1.15rem;
}

.social-media-image a {
    text-decoration: none;
    color: #ffffff88;
    display: flex;
    align-items: center;

}

.social-media-image img {
    margin-right: 8px;
}

.copyright {

    color: #ffffff88;
}

/* responsive query */

@media screen and (max-width:576px) {


    .vanish {
        display: none;
    }

    .hidden {
        display: contents;
    }

    nav h2,
    nav ul li a {
        margin-left: 20px;
        margin-right: 20px;
    }

    .banner {
        height: auto;
        padding: 40px 16px;

    }

    .banner-image {
        width: 260px;
        height: 260px;
        top: 0;
    }

    .banner-image img {
        width: 20%;
    }

    .banner-content h2 {
        font-size: 2.5rem;
        font-weight: bolder;
    }

    .tooltip {
        top: 10px;
    }


    .about-content {
        padding: 40px 20px;
    }

    .about-content h2 {
        font-size: 2rem;

    }

    hr {
        margin: 0px 15px;
    }

    .about-card-container {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    .about-card h4 {
        font-size: 2.5rem;
        text-align: center;

    }

    .wave-section-title {
        text-align: center;
    }

    .wave-section-card-container,
    .feature-card-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;

    }

    .wave-section {

        padding: 20px;
    }

    .wave-section-title {
        font-size: 1.5rem;
    }

    .item-1 {
        grid-row: span 1;
    }

    .item-2,
    .item-3,
    .item-4 {
        grid-column: span 1;
    }

    .feature-tittle {
        text-align: center;
        font-size: 1.75rem;

    }

    .feature-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .host-section,
    .feature-section {

        padding-top: 60px;
    }

    .host-card-container {
        flex-direction: column;
        text-align: center;
        margin: 24px 20px 0px;


    }

    footer {

        height: auto;
        width: auto;
        background-position: center;
        background-size: cover;

    }

    .footer-section {
        padding: 30px;
    }

    .footer-section-tittle {
        font-size: 1.5rem;
        text-align: center;

    }



    .social-media-image {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        font-size: 1rem;
        gap: 16px;
        text-align: center;
        margin-bottom: 15px;


    }

    .social-media-image a {
        justify-content: center;
        align-items: center;
    }


}